<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="MySQLDB" connectionString="server=127.0.0.1;user=team4;password=sql540768; database=team4; port=3306"/>
    </connectionStrings>
    <appSettings>
      <add key="SecurityKey" value="sql540768" />
      <add key="EmailFrom" value="TournamentBracketGenerator@gmail.com"/>
      <add key="EmailDisplayName" value="Tournament Bracket Generator"/>
      <add key="EmailPassword" value="Password98!"/>
    </appSettings>
</configuration>